<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SgExam</display-name>
  <context-param>
    <param-name>charSet</param-name>
    <param-value>gbk</param-value>
  </context-param>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class> edu.numberone.studystar.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>pageSize</param-name>
    <param-value>5</param-value>
  </context-param>
  <servlet>
    <servlet-name>PersonInformationServlet</servlet-name>
    <servlet-class>edu.numberone.studystar.servlet.PersonInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonInformationServlet</servlet-name>
    <url-pattern>/servlet/PersonInformationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>edu.numberone.studystar.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/servlet/StudentServlet.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>StudentLoginFilter</filter-name>
    <filter-class> edu.numberone.studystar.filter.StudentLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentLoginFilter</filter-name>
    <url-pattern>/jsp/student/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>edu.numberone.studystar.servlet.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/servlet/DoLoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <servlet-class>edu.numberone.studystar.servlet.ModifyPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <url-pattern>/servlet/ModifyPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreCorrectServlet</servlet-name>
    <servlet-class>edu.numberone.studystar.servlet.ScoreCorrectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreCorrectServlet</servlet-name>
    <url-pattern>/servlet/ScoreCorrectServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageQuestion</servlet-name>
    <servlet-class>edu.numberone.studystar.servlet.ManageQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageQuestion</servlet-name>
    <url-pattern>/servlet/ManageQuestion.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>TeacherLoginFilter</filter-name>
    <filter-class> edu.numberone.studystar.filter.TeacherLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherLoginFilter</filter-name>
    <url-pattern>/jsp/teacher/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class> edu.numberone.studystar.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/jsp/admin/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>jsp/student/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>